@model OFRPDMS.Models.LibraryResource

@{
    ViewBag.Title = "Delete";
}
<fieldset>
<h2>Delete Library Item</h2>

<h3>Are you sure you want to delete this? <font color = "red">*All the Check out information for this item will be lost!</font></h3>

    <legend></legend>

    <b class="display-label">Broken</b>
    <div class="display-field">@Model.Broken</div>

    <b class="display-label">CheckedOut</b>
    <div class="display-field">@Model.CheckedOut</div>

    <b class="display-label"> Value of Item (Cost)</b>
    <div class="display-field">@String.Format("{0:F}", Model.Value)</div>

    <b class="display-label">Note</b>
    <div class="display-field">@Model.Note</div>

    <b class="display-label">Name</b>
    <div class="display-field">@Model.Name</div>

    <b class="display-label">ItemType</b>
    <div class="display-field">@Model.ItemType</div>

    <b class="display-label">Sanitized</b>
    <div class="display-field">@Model.Sanitized</div>

    <b class="display-label">Checked Out By</b>
    <div class="display-field">
     @if (Model.PrimaryGuardianBorrows.SingleOrDefault(pgb => pgb.Returned == false) != null)
       {
	        @(Model.PrimaryGuardianBorrows.SingleOrDefault(pgb => pgb.Returned == false).PrimaryGuardian.FirstName)
       }

    </div>

    <b class="display-label">Center</b>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

</fieldset>
