@model OFRPDMS.Models.LibraryResource

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Library Item Details</h2>


    <legend></legend>

    <b class="display-label">Broken</b>
    <div class="display-field">@Model.Broken</div>

    <b class="display-label">CheckedOut</b>
    <div class="display-field">@Model.CheckedOut</div>

    <b class="display-label"> Value of Item (Cost)</b>
    <div class="display-field">@String.Format("{0:F}", Model.Value)</div>

    <b class="display-label">Note</b>
    <div class="display-field">@Model.Note</div>

    <b class="display-label">Name</b>
    <div class="display-field">@Model.Name</div>

    <b class="display-label">ItemType</b>
    <div class="display-field">@Model.ItemType</div>

    <b class="display-label">Sanitized</b>
    <div class="display-field">@Model.Sanitized</div>

    <b class="display-label">Checked Out By</b>
    <div class="display-field">@(Model.CheckedOut == false ? "None" : Model.PrimaryGuardianBorrows.Single(pgb=> pgb.Returned == false).PrimaryGuardian.FirstName)  
     @if (ViewBag.Borrow != null)
    {
         @Html.RouteLink("Go to Borrower's details", new { id = (int)ViewBag.borrow, controller = "PrimaryGuardianBorrows", action = "Details" })
    }
    </div>
    
    <b class="display-label">Center</b>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>

<p> 
    @Html.ActionLink("Back to List", "Index")  
</p>

</fieldset>
