@model OFRPDMS.Models.LibraryResource

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Library Item Details</h2>


    <legend></legend>

    <b class="display-label">Broken</b>
    <div class="display-field">@Model.Broken</div>

    <b class="display-label">CheckedOut</b>
    <div class="display-field">@Model.CheckedOut</div>

    <b class="display-label">Value</b>
    <div class="display-field">@String.Format("{0:F}", Model.Value)</div>

    <b class="display-label">Image</b>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Image).ToString()</div>

    <b class="display-label">Note</b>
    <div class="display-field">@Model.Note</div>

    <b class="display-label">Name</b>
    <div class="display-field">@Model.Name</div>

    <b class="display-label">ItemType</b>
    <div class="display-field">@Model.ItemType</div>

    <b class="display-label">Sanitized</b>
    <div class="display-field">@Model.Sanitized</div>

    <b class="display-label">PrimaryGuardianBorrows</b>
    <div class="display-field">@(Model.PrimaryGuardianBorrows == null ? "None" : Model.PrimaryGuardianBorrows.Count.ToString())</div>
    
    <b class="display-label">Center</b>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>

<p>
   
    
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index") 

     @if (ViewBag.Borrow != null)
    {
        @Html.RouteLink("Borrow", new { id = (int)ViewBag.borrow, controller = "PrimaryGuardianBorrows", action = "Details" }) 
    }
</p>

</fieldset>
