@model OFRPDMS.Models.Center

@{
    ViewBag.Title = "Delete";
}
<fieldset>
<h2>Delete Center</h2>

<h3>Are you sure you want to delete this?</h3>

    <legend></legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
    @using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        
    </p>
        @Html.ActionLink("Back to List", "Index")
    }
</fieldset>


