@model OFRPDMS.Models.Center

@{
    ViewBag.Title = "Details";
}

<fieldset>
<h2>Center Details</h2>

    <legend></legend>

    <b class="display-label">Name</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <b class="display-label">Email</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <b class="display-label">Address</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <b class="display-label">Phone</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</fieldset>



