@model IEnumerable<OFRPDMS.Models.Center>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            BorrowableItems
        </th>
        <th>
            Events
        </th>
        <th>
            CenterReferrals
        </th>
        <th>
            CenterAccounts
        </th>
        <th>
            CenterFreeResources
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Address
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@(item.BorrowableItems == null ? "None" : item.BorrowableItems.Count.ToString())
        </td>
        <td>
			@(item.Events == null ? "None" : item.Events.Count.ToString())
        </td>
        <td>
			@(item.CenterReferrals == null ? "None" : item.CenterReferrals.Count.ToString())
        </td>
        <td>
			@(item.CenterAccounts == null ? "None" : item.CenterAccounts.Count.ToString())
        </td>
        <td>
			@(item.CenterFreeResources == null ? "None" : item.CenterFreeResources.Count.ToString())
        </td>
    </tr>
}

</table>


