@model IEnumerable<OFRPDMS.Models.Center>

@{
    ViewBag.Title = "Index";
}

<fieldset >

<h2>Centres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="hovered">
    <tr>
        <th>
             @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })  
        </th>
        <th>
             @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailNameSortParm, currentFilter = ViewBag.CurrentFilter })  
        </th>
        <th>
             @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressNameSortParm, currentFilter = ViewBag.CurrentFilter })  
        </th>
        <th>
            @Html.ActionLink("Phone", "Index", new { sortOrder = ViewBag.PhoneNameSortParm, currentFilter = ViewBag.CurrentFilter })  
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @*|
            @Html.ActionLink("Details", "Details", new { id = item.Id })*@ 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
</fieldset>
