@model OFRPDMS.Models.Child
@using OFRPDMS.Models
         

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="Child">
    
    <div class="editor-label">
        <b for="Child">Child</b>
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Birthdate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Birthdate)
        @Html.ValidationMessageFor(model => model.Birthdate)
    </div>
    <div class="editor-label">
    @Html.LabelFor(model => model.RelationshipToGuardian)
    </div>
    <div class="editor-field">
    @Html.EditorFor(model => model.RelationshipToGuardian)
    @Html.ValidationMessageFor(model => model.RelationshipToGuardian)
    </div>
    @*
    <div class="editor-label">
        @Html.LabelFor(model =>model.Allergies)
    </div>
    
    <div id="allergiesNested">
       @Html.EditorFor(model => model.Allergies)
    </div>
    <p>
        @Html.LinkToAddNestedForm(model=>model.Allergies,"Add More Allergy...", "#allergiesNested", ".Allergy", "Allergies")
    </p>*@



        @Html.HiddenFor(model =>model.Delete, new {@class = "mark-for-delete"})
        @Html.LinkToRemoveNestedForm("Remove Child...", "div.Child", "input.mark-for-delete")
        

</div>