@model OFRPDMS.Models.PrimaryGuardian
@using OFRPDMS.Models

@* This partial view defines form fields that will appear when creating and editing entities *@

@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.Id)

<div class="editor-label">
    @Html.LabelFor(model => model.FirstName)
</div>
<div class="editor-field">

    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastName)
   
    @Html.ValidationMessageFor(model => model.LastName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Phone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Phone)
     @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PostalCodePrefix)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PostalCodePrefix)
    @Html.ValidationMessageFor(model => model.PostalCodePrefix)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Language)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Language)
    @Html.ValidationMessageFor(model => model.Language)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Country)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CenterId, "Center")
</div>
<div class="editor-field">
    @Html.DropDownList("CenterId", String.Empty)
    @Html.ValidationMessageFor(model => model.CenterId)
</div>



<div class="editor-label">
        @Html.LabelFor(model =>model.Allergies)
</div>
<div id="allergies">
        @Html.EditorFor(model =>model.Allergies)
</div>
<p>
        @Html.LinkToAddNestedForm(model=>model.Allergies,"Add More Allergy...", "#allergies", ".Allergy", "Allergies")
</p>


<div id="secondaryGuardians">
        @Html.EditorFor(model =>model.SecondaryGuardians)
</div>

<p>

  @Html.LinkToAddNestedForm(model=>model.SecondaryGuardians,"Add More SecondaryGuardians...", "#secondaryGuardians", ".SecondaryGuardian", "SecondaryGuardians")

</p>


<div id="children">

  @Html.EditorFor(model => model.Children)

</div>
<p>
  @Html.LinkToAddNestedForm(model=>model.Children,"Add More Child...", "#children", ".Child", "Children")

</p>






