@model OFRPDMS.Models.SpecialEvent

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Special Even Detail</h2>


    <legend>SpecialEvent</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">GuestSpeaker</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestSpeaker)
    </div>

    <div class="display-label">GuestSpeakerType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestSpeakerType)
    </div>

    <div class="display-label">Center</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</fieldset>