@model OFRPDMS.Models.SpecialEvent

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Special Event Detail</h2>



    <legend></legend>


    <b class="display-label">Name</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <b class="display-label">GuestSpeaker</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestSpeaker)
    </div>

    <b class="display-label">GuestSpeakerType</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestSpeakerType)
    </div>

    <b class="display-label">Center</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

    <b class="display-label">Date</b>
    <div class="display-field">
        @Model.Date.ToShortDateString()
    </div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
</fieldset>
