@model IEnumerable<OFRPDMS.Models.SpecialEvent>

@{
    ViewBag.Title = "Index";
}
<fieldset>
<h2>Special Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            GuestSpeaker
        </th>
        <th>
            GuestSpeakerType
        </th>
        <th>
            Center
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestSpeaker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestSpeakerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Center.Name)
        </td>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @if(ViewBag.isAdmin){
           <body>
             | @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
            </body>
        }
        </td>
    </tr>
}

</table>
</fieldset>