@model IEnumerable<OFRPDMS.Models.Center>

@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Generate</h2>
<h2>Start : @ViewBag.myReport.startDay</h2>
<h2>End : @ViewBag.myReport.endDay</h2>

<table>
    <tr>
        <th>
            Center
        </th>
        <th>
            # of new patient
        </th>
        <th>
            # of patient
        </th>
        <th></th>
    </tr>

    @{
        int counter = 1;
    }


    @foreach (var item in Model)
            {
                <tr>
                    <td>
                            <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Name)
                            </div>
                    </td>
                    <td>
                            @ViewBag.numOfNewPG[counter]
                    </td>
                    <td>
                            @ViewBag.numOfPG[counter]
                    </td>
                </tr>
                counter++;    
            }


</table>

