@model IEnumerable<OFRPDMS.Models.Center>

@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<fieldset>
<h2>Generate</h2>
<h2>Start : @ViewBag.myReport.startDay</h2>
<h2>End : @ViewBag.myReport.endDay</h2>

<table class="hovered">
    <tr>
        <th>
            Center
        </th>
        <th>
            # of new patient
        </th>
        <th>
            # of patient
        </th>
    </tr>


    @for(int i =0; i < @ViewBag.center.Length; i++)
            {
                <tr>
                    <td>
                            @ViewBag.center[i].Name
                    </td>
                    <td>
                            @ViewBag.numOfNewPG[(i+1)]
                    </td>
                    <td>
                            @ViewBag.numOfPG[(i+1)]
                    </td>
                </tr>
            }
</table>

<h2>Languages Spoken at Home </h2>
<table class ="hovered">
    <tr>
        <th>
        Language
        </th>
    @for(int i =0; i < @ViewBag.center.Length; i++)
    {
        <th>
             @ViewBag.center[i].Name
        </th>
    }
    </tr>

        @for(int i =0; i < @ViewBag.distinctLanguage.Length; i++)
    {
        <tr>
            <th>
            @ViewBag.distinctLanguage[i]
            </th>
            @for (int j = 0; j < @ViewBag.center.Length; j++)
            {
                <th>
                    @ViewBag.languageTable[i, j+1]
                </th>
            }
        </tr>
    }
</table>

<h2>Culture</h2>
<table class="hovered">
    <tr>
        <th>
        Country
        </th>
    @for(int i =0; i < @ViewBag.center.Length; i++)
    {
        <th>
             @ViewBag.center[i].Name
        </th>
    }
    </tr>

        @for(int i =0; i < @ViewBag.distinctCountry.Length; i++)
    {
        <tr>
            <th>
            @ViewBag.distinctCountry[i]
            </th>
            @for (int j = 0; j < @ViewBag.center.Length; j++)
            {
                <th>
                    @ViewBag.countryTable[i, j+1]
                </th>
            }
        </tr>
    }
</table>
</fieldset>