@model IEnumerable<OFRPDMS.Models.EventParticipant>

@{
    ViewBag.Title = "TrackPG";
}
<fieldset>
<h2>@ViewBag.type </h2>

<h2>
@ViewBag.First @ViewBag.Last visited @Model.Count() Times:
</h2>

@foreach (var item in Model)
{
    <h3>@item.Event.Center.Name:</h3> 
    <h3> @item.Event.Date.ToShortDateString()</h3>    
}

@Html.ActionLink("Back to List", "Index")
</fieldset>

