@model OFRPDMS.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>

    <div class="display-label">EventParticipants</div>
    <div class="display-field">@(Model.EventParticipants == null ? "None" : Model.EventParticipants.Count.ToString())</div>

    <div class="display-label">Center</div>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


