@model OFRPDMS.Models.EventParticipant

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Sign In Details</h2>

   <b class="display-label">Event</b>
    <div class="display-field">
        @Model.Event.Date.ToString("MM/dd/yyyy")
    </div>

    <b class="display-label">Participant's Name</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimaryGuardian.FirstName)
        @Html.DisplayFor(model => model.PrimaryGuardian.LastName)
    </div>

    <b class="display-label">ParticipantType</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantType)
    </div>


 @Html.ActionLink("Back to List", "Index")
</fieldset>