@model OFRPDMS.Models.EventParticipant

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Sign In Details</h2>


    <legend></legend>

    <div class="display-label">Event</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Id)
    </div>

    <div class="display-label">ParticipantId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantId)
    </div>

    <div class="display-label">ParticipantType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantType)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
   
</p>
 @Html.ActionLink("Back to List", "Index")
</fieldset>