@model OFRPDMS.Models.CenterFreeResource

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.NumberAvailable)
</div>
<div class="input-control text">
    @Html.EditorFor(model => model.NumberAvailable)
    @Html.ValidationMessageFor(model => model.NumberAvailable)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="input-control text">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

