@model OFRPDMS.Models.CenterFreeResource

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Details</h2>


    <legend></legend>

    <b class="display-label">NumberAvailable</b>
    <div class="display-field">@Model.NumberAvailable</div>

    <b class="display-label">Name</b>
    <div class="display-field">@Model.Name</div>

    <b class="display-label">Center</b>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>

    <b class="display-label">GivenResources</b>
    <div class="display-field">@(Model.GivenResources == null ? "None" : Model.GivenResources.Count.ToString())</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Edit")
</p>

</fieldset>
