@model OFRPDMS.Models.PrimaryGuardian

@* This partial view defines form fields that will appear when creating and editing entities *@



<script src="../../Scripts/Custom/Utility/autocomplete.js" type="text/jscript"></script>
<div class="editor-label">
    @Html.LabelFor(model => model.FirstName)
</div>
<div class="editor-field">

    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastName)
   
    @Html.ValidationMessageFor(model => model.LastName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Phone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PostalCodePrefix)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PostalCodePrefix)
    @Html.ValidationMessageFor(model => model.PostalCodePrefix)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DateCreated)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DateCreated)
    @Html.ValidationMessageFor(model => model.DateCreated)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Language)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Language)
    @Html.ValidationMessageFor(model => model.Language)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Country)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RelationshipToChild)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.RelationshipToChild)
    @Html.ValidationMessageFor(model => model.RelationshipToChild)
</div>
<div>
    @Html.Partial("_RegisterCenter", Model)
</div>

