@model OFRPDMS.Models.PrimaryGuardian

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PrimaryGuardian</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">Phone</div>
    <div class="display-field">@Model.Phone</div>

    <div class="display-label">PostalCodePrefix</div>
    <div class="display-field">@Model.PostalCodePrefix</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@Model.DateCreated</div>

    <div class="display-label">Language</div>
    <div class="display-field">@Model.Language</div>

    <div class="display-label">Country</div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label">RelationshipToChild</div>
    <div class="display-field">@Model.RelationshipToChild</div>

    <div class="display-label">PrimaryGuardianBorrows</div>
    <div class="display-field">@(Model.PrimaryGuardianBorrows == null ? "None" : Model.PrimaryGuardianBorrows.Count.ToString())</div>

    <div class="display-label">SecondaryGuardian</div>
    <div class="display-field">@(Model.SecondaryGuardian == null ? "None" : Model.SecondaryGuardian.LastName)</div>

    <div class="display-label">EventParticipants</div>
    <div class="display-field">@(Model.EventParticipants == null ? "None" : Model.EventParticipants.Count.ToString())</div>

    <div class="display-label">Children</div>
    <div class="display-field">@(Model.Children == null ? "None" : Model.Children.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


