@model OFRPDMS.Models.PrimaryGuardian

@{
    ViewBag.Title = "Delete";
}
<fieldset>
<h2>Delete Primary Guardian</h2>

<h3>Are you sure you want to delete this?</h3>

    <legend></legend>

    <b class="display-label">FirstName</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <b class="display-label">LastName</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <b class="display-label">Email</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <b class="display-label">Phone</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <b class="display-label">PostalCodePrefix</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCodePrefix)
    </div>

    <b class="display-label">DateCreated</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <b class="display-label">Language</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <b class="display-label">Country</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <b class="display-label">Allergies</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Allergies)
    </div>

    <b class="display-label">Center</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

   

    
  <div>
    @foreach (var secondaryguardian in Model.SecondaryGuardians)
    {
    
        <b class="display-label">Secondary Guardian</b>
        <div></div>
        <b class="display-label">First Name</b>
        <div class="display-field">
        @Html.DisplayFor(model => secondaryguardian.FirstName)
        </div>
        <b class="display-label">Last Name</b>
        <div class="display-field">
        @Html.DisplayFor(model => secondaryguardian.LastName)
        </div>
        <b class="display-label">Phone</b>
        <div class="display-field">
        @Html.DisplayFor(model => secondaryguardian.Phone)
        </div>
        <b class="display-label">RelationshipToChild</b>
        <div class="display-field">
        @Html.DisplayFor(model => secondaryguardian.RelationshipToChild)
        </div>
  
        
   
    }
   </div>



    <div>
    @foreach (var a in Model.Children)
    {
   
        <b class="display-label">Child</b>
        <div></div>
        <b class="display-label">First Name</b>
        <div class="display-field">
        @Html.DisplayFor(model => a.FirstName)
        </div>
        <b class="display-label">Last Name</b>
        <div class="display-field">
        @Html.DisplayFor(model => a.LastName)
        </div>
        <b class="display-label">Birthdate</b>
        <div class="display-field">
        @Html.DisplayFor(model => a.Birthdate)
        </div>
        <b class="display-label">RelationshipToChild</b>
        <div class="display-field">
        @Html.DisplayFor(model => a.RelationshipToGuardian)
        </div>
        <b class="display-label">Allergies</b>
        <div class="display-field">
        @Html.DisplayFor(model => a.Allergies)
        </div>


    }
    </div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
</fieldset>
