@model OFRPDMS.Models.PrimaryGuardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PrimaryGuardian</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">PostalCodePrefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCodePrefix)
    </div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">Language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">Center</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

  
    @foreach (var a in Model.Children)
    {
    <div class="display-field">
        <b class="display-label">Child</b>
        <div class="display-label">First Name</div>
        @Html.DisplayFor(model => a.FirstName)
        <div class="display-label">Last Name</div>
        @Html.DisplayFor(model => a.LastName)
        <div class="display-label">Birthdate</div>
        @Html.DisplayFor(model => a.Birthdate)
        <div class="display-label">RelationshipToChild</div>
        <div class="display-field">
        @Html.DisplayFor(model => a.RelationshipToGuardian)
    </div>

    </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
