@model OFRPDMS.Models.PrimaryGuardian
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PrimaryGuardian</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.EditorForModel()

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="../../Scripts/PrimaryGuardian/application.js" language="javascript" type="text/javascript"></script>
