@model OFRPDMS.Models.PrimaryGuardianBorrow

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.BorrowDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.BorrowDate)
    @Html.ValidationMessageFor(model => model.BorrowDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DueDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DueDate)
    @Html.ValidationMessageFor(model => model.DueDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ReturnDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ReturnDate)
    @Html.ValidationMessageFor(model => model.ReturnDate)
</div>

<div class="editor-label">
    PrimaryGuardian
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.PrimaryGuardianId, ((IEnumerable<OFRPDMS.Models.PrimaryGuardian>)ViewBag.PossiblePrimaryGuardians).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.LastName), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.PrimaryGuardianId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.PrimaryGuardianId)
</div>
<div class="editor-label">
    LibraryResource
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.LibraryResourceId, ((IEnumerable<OFRPDMS.Models.LibraryResource>)ViewBag.PossibleLibraryResources).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.LibraryResourceId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.LibraryResourceId)
</div>
