@model OFRPDMS.Models.PrimaryGuardianBorrow

@{
    ViewBag.Title = "Details";
}

<fieldset>

<h2>Details</h2>

    <legend></legend>
    @Html.ActionLink("Return", "Edit", new { id=Model.Id })

    <b class="display-label">BorrowDate</b>
    <div class="display-field">@String.Format("{0:g}", Model.BorrowDate)</div>

    <b class="display-label">Returned</b>
    <div class="display-field">@Model.Returned</div>

    <b class="display-label">DueDate</b>
    <div class="display-field">@String.Format("{0:g}", Model.DueDate)</div>

    <b class="display-label">ReturnDate</b>
    <div class="display-field">@String.Format("{0:g}", Model.ReturnDate)</div>

    <b class="display-label">PrimaryGuardian</b>
    <div class="display-field">@(Model.PrimaryGuardian == null ? "None" : Model.PrimaryGuardian.LastName)</div>

    <b class="display-label">LibraryResource</b>
    <div class="display-field">@(Model.LibraryResource == null ? "None" : Model.LibraryResource.Name)</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) 
   
</p>
 @Html.ActionLink("Back to List", "Index")
</fieldset>
