@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
}
<div class ="page-sidebar"id="menucontainer">
        <ul id="menu">
            <li class="sticker sticker-color-blue">@Html.ActionLink("Families", "Index", "PrimaryGuardians", null, new { id = currentController == "PrimaryGuardians" ? "current" : "" })</li>  
        </ul>

        <ul>    
            <li class="sticker sticker-color-orange">@Html.RouteLink("Sign In", "Staff_default",  new { controller = "SignIn", action = "Index"}, new { id = currentController == "SignIn" ? "current" : "" })</li>
        </ul>

        <ul>   
            <li class="sticker sticker-color-blue">@Html.ActionLink("Drop-In Sessions", "Index","Events", null, new { id = currentController == "Events" ? "current" : "" })</li>
        </ul>

        <ul>
            <li class="sticker sticker-color-orange">@Html.ActionLink("Resources", "Edit","CenterFreeResources", null, new { id = currentController == "CenterFreeResources" ? "current" : "" })</li>
        </ul>

        <ul>
            <li class="sticker sticker-color-blue">@Html.ActionLink("Referrals", "Edit","CenterReferrals", null, new { id = currentController == "CenterReferrals" ? "current" : "" })</li>
        </ul>

        <ul>
            <li class="sticker sticker-color-orange">@Html.ActionLink("Library", "Index","Library", null, new { id = currentController == "Library" ? "current" : "" })</li>
        </ul>

        <ul>
             <li class="sticker sticker-color-blue">@Html.ActionLink("Library Check-Out", "Index", "PrimaryGuardianBorrows", null, new { id = currentController == "PrimaryGuardianBorrows" ? "current" : "" })</li>
        </ul>
    
</div>
<div id="main">
    @RenderBody()
</div>
  