@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
<div id="menucontainer">
    <ul id="menu">
        <li>@Html.ActionLink("+ New Families", "Index", "Families")</li>
        <li>@Html.ActionLink("Sign In", "Index","SignIn")</li>
        <li>@Html.ActionLink("Event", "Index","Events")</li>
        <li>@Html.ActionLink("Library", "Index","Library")</li>
    </ul>
</div>
<div id="main">
    @RenderBody()
</div>
  