@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
<div class ="page-sidebar"id="menucontainer">
    <ul id="menu">
        <li class="sticker sticker-color-blue">@Html.ActionLink("Families", "Index", "Families")</li>  </ul>
       <!-- @*<li>@Html.ActionLink("Sign In", "Index", "SignIn")</li>*@-->
        <ul><li class="sticker sticker-color-orange">@Html.RouteLink("Sign In", "Staff_default",  new { controller = "SignIn", action = "Index"})</li></ul>
       <ul> <li class="sticker sticker-color-blue">@Html.ActionLink("Event", "Index","Events")</li></ul>
        <ul><li class="sticker sticker-color-orange">@Html.ActionLink("Resources", "Edit","CenterFreeResources")</li></ul>
       <ul> <li class="sticker sticker-color-blue">@Html.ActionLink("Referrals", "Edit","CenterReferrals")</li></ul>
        <ul><li class="sticker sticker-color-orange">@Html.ActionLink("Library", "Index","Library")</li></ul>
  
</div>
<div id="main">
    @RenderBody()
</div>
  